<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/Style.css" />
    <title>Home Page</title>

</head>
<body>
    
    <div class="header">
        <h1>BGame</h1>
    </div>
            <div class="navigation">
                <table>
                    <tr>
                        <td class="navbutton"><a asp-controller="Home" asp-action="Index">Index</a></td>
                        <td class="navbutton"><a asp-controller="Home" asp-action="BuyPage">Store</a></td>
                        <td class="navbutton"><a asp-controller="Home" asp-action="SellPage">Sell</a></td>
                        <td class="navbutton"><a asp-controller="Home" asp-action="Login">Sign In</a></td>
                        <td class="navbutton"><a asp-controller="Home" asp-action="Register">Sign Up</a></td>
                        <td class="navbutton"><a asp-controller="Game" asp-action="GameItemList">GameItems</a></td>

                    </tr>
                </table>
            

        </div>
    
    <div class="container">
        @RenderBody()
    </div>


    <div class="footer">
        <p>&copy; 2018 - BGame </p>
    </div>
</body>
</html>