
@{
    Layout = "_LogLayout";

 }
@model BGame.Models.UserModels.User
    <div>
        <div class="login-dialog">
            <form asp-action="Login">
                <h2>Sign In</h2>
                <br />
                <label asp-for="UserName">Name: </label>
                <br />
                <input asp-for="UserName" />
                <br />
                <label asp-for="Password">Password: </label>
                <br />
                <input asp-for="Password" />
                <br />
                <button type="submit" style="background-color:#f1b03f;border-radius: 8px"><b>Sign In</b></button>
                <hr /> <span>New to BGame ?</span>
                <button type="submit" asp-action="Register"> Sign Up</button>
            </form>
        </div>
    </div>
