
@{
    ViewData["Title"] = "Register";
}

<div class="w3-container w3-center">
    <h2>Register</h2>
    @model BGame.Models.UserModels.User
        <form asp-action="Register" method="post">
            <label asp-for="UserName">Name: </label>
            <input asp-for="UserName" />
            <br />
            <label asp-for="Email">E-Mail: </label>
            <input asp-for="Email" />
            <br />
            <label asp-for="Password">Password: </label>
            <input asp-for="Password" />
            <br />
            <label asp-for="ProfileDescription">Profile Info: </label>
            <textarea asp-for="ProfileDescription" cols="50" rows="7"></textarea>
            <br />
            <button type="submit" class="w3-button w3-border w3-hover-black w3-round-xlarge w3-border-black"><b>Register</b></button>
        </form>
    </div>
