<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>Home Page</title>
</head>
<body>
    <div class="header">
        <img src="~/images/logoTeam.png" width="150" height="150">
    </div>
    <div class="navigation">
        <table style="float:left">
            <tr style="float:left">
                <td><a asp-controller="Home" asp-action="Index"><img src="~/images/logoTeam.png" width="50"></a></td>
                <td><a asp-controller="Game" asp-action="GameItemList">Store</a></td>
                <td><a asp-controller="Home" asp-action="SellPage">Sell</a></td>
                <td><a asp-controller="Home" asp-action="ChatPage">Chat with our consultant!</a></td>

                @*<td><a asp-controller="Admin" asp-action="Index">Admin</a></td>*@
            </tr>
        </table>
        <table style="float:right">
            <tr style="float:right">
                <td><a asp-controller="Account" asp-action="Login">Your Account</a></td>
                @*<td><a asp-controller="Home" asp-action="Register">Sign Up</a></td>*@
                <td><a asp-controller="Cart" asp-action="Index"><img src="~/images/Shopping Cart.png" width="50"  /> Cart</a></td>
                <td><a asp-controller="Order" asp-action="List">Orders</a></td>
            </tr>
        </table>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <div class="footer">
        <p>&copy; 2018 - BGame </p>
    </div>
</body>
</html>