
@model Comment
<div class="comment">
    <img src="@Url.Content(Model.commenterProfile)" />
    <span style="font-weight:bold">@Model.commenterName :</span><br />
    <p>@Model.commentContent <span style="float:right;font-size:small">@Model.date</span></p>
    
</div>