@{
    ViewData["Title"] = "Register";
    Layout = "_LogLayout";
}
@model BGame.Models.UserModels.User

<div class="login-dialog" asp-validation-summary="All">


    <form asp-action="RegisterAndLogin" method="post">
        <h2>Register</h2>
        <br />
        <label asp-for="UserName">Name: </label>
        <input asp-for="UserName" />
        <br />
        <label asp-for="Email">E-Mail: </label>
        <input asp-for="Email" />
        <br />
        <label asp-for="Password">Password: </label>
        <input asp-for="Password" />
        <p style="font-size:10px">
            Passwords must consist of at least 6 characters.
        </p>

        <button type="submit"><b>Register</b></button>
    </form>
</div>
