
@{
    ViewData["Title"] = "Register";
    Layout = "_LogLayout";
}

<div class="login-dialog">

    @model BGame.Models.UserModels.User
    <form asp-action="Register" method="post">
        <h2>Register</h2>
        <br />
        <label asp-for="UserName">Name: </label>
        <input asp-for="UserName" />
        <br />
        <label asp-for="Email">E-Mail: </label>
        <input asp-for="Email" />
        <br />
        <label asp-for="Password">Password: </label>
        <input asp-for="Password" />
        <p style="font-size:10px">
            Passwords must consist of at least 6 characters.
        </p>
        
        <button type="submit" class="w3-button w3-border w3-hover-black w3-round-xlarge w3-border-black"><b>Register</b></button>
    </form>
</div>
