* {
    box-sizing: border-box;
}
body {
    font-family: Arial,Helvetica,sans-serif;
}

.header {
    background-image: url("../images/head.jpg");
    height: 180px;
   /*margin-top: auto;
    margin-bottom: auto;
    display: block;*/
   padding: 20px;
    text-align: center;
}

.navigation {
    background-color: lightblue;
    overflow: hidden;
    text-align: center;
}
.navigation a {
        float: left;
        display: block;
        color: darkblue;
        padding: 14px 16px;
        text-decoration: none;
        font-size:20px;
    }

/*using hover property*/
    .navigation a:hover {
        background-color: lightseagreen;
        color: white;

    }
    .navigation a:focus {
            background-color: rgba(0, 0, 139, 0.65);
            color: lightblue;
        }

.footer {
    background-color: rgba(198, 194, 194, 0.90);
    padding: 10px;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
}

.container {
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 1;
    width: 1080px;
    min-height: 1100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    left: 0px;
    right: 0px;
}
input[type=text], select{
    width:50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.w3-container w3-center {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}




.mySlides {
    display: none
}

/* Slideshow container */
.slideshow-container {
    max-width: 720px;
    position: relative;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
}



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.login-dialog {
    border: solid;
    border-color: beige;
    border-width: 2px;
    margin: auto;
    width: 350px;
    min-height: 450px;
    margin-bottom: 100px;
    margin-top:30px;
}
    .login-dialog form {
        margin: 20px;
    }
    .login-dialog label {
        font-weight: bold;
        font-size: 22px;
       
    }
    .login-dialog input {
        width: -webkit-fill-available;
    }
    .login-dialog button {
        margin-top: 10px;
        width: -webkit-fill-available;
    }
    .login-dialog span {
        position: absolute;
        margin: -30px;
        margin-left: 90px;
        background-color: white;
    }

.content {
    margin: 10px;
    position: relative;
}


